/*
===============
Fonts
===============
*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,900&family=Fruktur&family=Poppins:ital,wght@0,700;1,400&family=Roboto:wght@400;700&family=The+Nautigal:wght@700&display=swap');
body {}


/*
===============
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    /* primary/main color */
    --clr-primary-main: #333333;
    --clr-primary-1: #000000;
    --clr-primary-2: #1a1a1a;
    --clr-primary-3: #404040;
    --clr-primary-4: #4d4d4d;
    /* lighter shades of primary color */
    --clr-primary-5: #666666;
    --clr-primary-6: #808080;
    --clr-primary-7: #a6a6a6;
    --clr-primary-8: #bfbfbf;
    --clr-primary-9: #e6e6e6;
    --clr-primary-10: #f2f2f2;
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --ff-primary: 'Fira Sans', sans-serif;
    --ff-secondary: 'Poppins', sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --marginB: 2rem;
}


/*
===============
Global Styles
===============
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: purple;
    line-height: 1.5;
    font-size: 0.875rem;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Fruktur', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'The Nautigal', cursive;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}


/* img:not(.nav-logo) {
    width: 100%;
    display: block;
} */

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

.btn {
    padding: 1rem 2.5rem;
    margin: 30px 0;
    font-size: 1rem;
    border: none;
    box-shadow: 2px 2px 15px var(--clr-primary-7);
    border-radius: 10px;
}

.btn:hover {
    outline: 2px solid var(--clr-primary-8);
    outline-offset: 5px;
}

.section-title {
    text-align: center;
    font-size: 2rem;
    font-family: '';
}

.img {
    object-fit: cover;
}


/* header */

.container {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    padding: 1rem;
}

.header {
    background: var(--clr-primary-9);
    max-width: 100vw;
    color: var(--clr-primary-main);
    padding: 1rem 0;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    width: 2.5rem;
    align-items: center;
    font-size: 2rem;
    box-shadow: 2px 2px 15px var(--clr-primary-7);
    transform: scale(1.2);
}

.logo-img {
    width: 100%;
    box-shadow: 2px 2px 15px var(--clr-primary-7);
    border-radius: 15px;
}

.nav-btn {
    justify-self: flex-end;
    position: relative;
}

.nav-btn button {
    background: none;
    border: none;
}

.fa-bars {
    font-size: 1.5rem;
    color: var(--clr-primary-2);
    position: absolute;
    top: 0;
}

.fa-times-circle {
    top: 0;
    font-size: 1.5rem;
    color: rgb(221, 0, 0);
    position: absolute;
    display: none;
}

.logins {
    display: none;
}

.signin-btn {
    background-color: var(--clr-white);
    margin-right: 1rem;
}

.login-btn {
    border-radius: 20px;
}

.navbar {
    margin-top: 20px;
    text-align: center;
    position: relative;
    transition: 5s linear;
    display: none;
}

.show {
    display: block;
}

.navlinks {
    margin-top: 5rem;
}

.nav-link {
    margin-bottom: 0.75rem;
    padding: 0.25rem 2rem;
    font-size: 1.5rem;
    font-variant: small-caps;
    border-radius: 15px;
    transition: var(--transition);
    box-shadow: 2px 2px 15px var(--clr-primary-7);
}

.nav-link:hover {
    background: var(--clr-primary-2);
    color: var(--clr-primary-10);
    box-shadow: var(--dark-shadow);
}

@media screen and (min-width: 800px) {
    .header {
        height: auto;
    }
    .nav-btn button {
        display: none;
    }
    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar {
        display: inline-block;
        margin: 0;
    }
    .navbar button {
        display: none;
    }
    .navlinks {
        display: inline-flex;
        gap: 1rem;
        align-self: center;
        margin-top: 0;
    }
    .logins {
        display: inline-block;
    }
}

.hero {
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--clr-primary-10);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/5388050/pexels-photo-5388050.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.hero.user-hero {
    background: url('https://images.pexels.com/photos/1034662/pexels-photo-1034662.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    backdrop-filter: blur(50%) saturate(180%);
}


/* .hero-left {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.096);
    border-radius: 12px;
} */

.hero-title {
    font-style: oblique;
    font-size: 5rem;
}

.hero-text {
    color: var(--clr-primary-10);
    font-weight: 600;
}

.hero-img {
    display: none;
}

.booking {
    background: var(--clr-white);
    text-align: center;
    padding: 1rem 0;
}

@media screen and (min-width: 600px) {
    .booking-center {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
    }
}

label {
    font-size: 2rem;
    color: var(--clr-primary-6);
    display: block;
}

input {
    padding: 1rem 3.5rem;
    border-radius: 10px;
    width: 50%;
    z-index: -1;
}

.fa-map-marker-alt,
.fa-map-pin {
    position: absolute;
    font-size: 2rem;
    transform: translateY(25%);
    padding-left: 1rem;
    color: var(--clr-primary-6);
}


/* users section */

.users {
    padding-top: 2rem;
    background-color: var(--clr-primary-9);
}

.active-users {
    max-width: 100vw;
    text-align: center;
    padding-top: 0.5rem;
}

.user-card {
    padding: 1rem;
    background-color: var(--clr-white);
    border-radius: 10px;
    margin-bottom: 1rem;
    height: fit-content;
}

.user-figure {
    background-color: var(--clr-primary-3);
    text-align: center;
    padding-top: 0.2rem;
    border-radius: 10px;
    font-size: 1.5rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--clr-white);
}

.name {
    font-size: 3rem;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
}

.user-figure img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 2px 2px 50px white;
}

.fa-circle.one {
    color: green;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: beep 0.75s infinite;
}

.fa-circle.two {
    color: rgb(168, 236, 9);
    animation: beep 0.75s infinite;
}

.fa-circle.three {
    color: rgb(215, 245, 43);
    animation: beep 0.75s infinite;
}

@keyframes beep {
    0% {
        transform: scale(0);
    }
    25% {
        transform: scale(25%);
    }
    50% {
        transform: scale(50%);
    }
    75% {
        transform: scale(75%);
    }
    100% {
        transform: scale(100%);
    }
}

figcaption {
    color: var(--clr-white);
    font-size: 2rem;
}

@media screen and (min-width: 678px) {
    .active-users {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }
    .user-card {
        flex-grow: 1;
    }
}

.ratings-img {
    margin-top: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.fa-star,
.fa-star-half-alt {
    color: gold;
}

.user-rating {
    font-family: 'poppins';
    margin-top: 0.5rem;
}


/* reviews */

.review-section {
    background: linear-gradient(240deg, var(--clr-primary-7), var(--clr-white));
}

.review-card {
    width: 25rem;
    background-image: url('https://images.pexels.com/photos/4797632/pexels-photo-4797632.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    background-repeat: no-repeat;
    padding: 0.75rem;
    border-radius: 10px;
}

.review-center {
    border-radius: 10px;
    margin: 0 auto;
    display: grid;
    place-items: center;
}

.card-center {
    backdrop-filter: blur(10px);
    text-align: center;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
}

.review-img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}


/* footer */

.footer {
    background: var(--clr-primary-9);
    color: var(--clr-primary-main);
    padding: 1rem 0;
    max-width: 100vw;
}

.footer-center {
    text-align: center;
    padding-top: 1rem;
}

.book-btn {
    font-size: 1.5rem;
}